!.gitignore
xs/BSON.c
!perl_mongo.c
!mongo_link.c
*.o
*.obj
vc90.pdb
MongoDB.def
MongoDB_def.old
Makefile*
!Makefile.PL
blib
pm_to_blib
Debian*
MongoDB-*
*.bs
*~
META.yml
pod/*
config.log
dll.base
dll.exp
MYMETA.json
MYMETA.yml
output.txt
/nyt*
/tags
/.build
deploy
pkg/n2-mongo-perl-driver-*
pkg/*.build
pkg/*.orig.tar.gz
pkg/*.diff.gz
pkg/*.dsc
pkg/*.buildinfo
pkg/*.changes
pkg/*.deb
.idea